In [2]:
!pip3 install pandas

Requirement already satisfied: pandas in /Users/abhishekjadhav/no/lib/python3.9/site-packages (2.3.3)
Requirement already satisfied: pytz>=2020.1 in /Users/abhishekjadhav/no/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in /Users/abhishekjadhav/no/lib/python3.9/site-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/abhishekjadhav/no/lib/python3.9/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in /Users/abhishekjadhav/no/lib/python3.9/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/abhishekjadhav/no/lib/python3.9/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
# Write python program creating a database of employees using DataFrame method & dictionary.

import pandas as pd

data = {
    'Empnum': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age' : [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}

df = pd.DataFrame(data)
print(df)

   Empnum     Name  Age         City
0       1    Alice   25     New York
1       2      Bob   30  Los Angeles
2       3  Charlie   35      Chicago

In [4]:
# reading data from csv file
df_csv = pd.read_csv('data.csv')
print(df_csv)

   Empnum     Name  Age         City
0       1    Alice   25     New York
1       2      Bob   30  Los Angeles
2       3  Charlie   35      Chicago

In [5]:
print(df.head())
print(df.tail())
print(df.info())

   Empnum     Name  Age         City
0       1    Alice   25     New York
1       2      Bob   30  Los Angeles
2       3  Charlie   35      Chicago
   Empnum     Name  Age         City
0       1    Alice   25     New York
1       2      Bob   30  Los Angeles
2       3  Charlie   35      Chicago
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Empnum  3 non-null      int64
 1   Name    3 non-null      object
 2   Age     3 non-null      int64
 3   City    3 non-null      object
dtypes: int64(2), object(2)
memory usage: 224.0+ bytes
None

In [6]:
print(df.describe())

       Empnum   Age
count     3.0   3.0
mean      2.0  30.0
std       1.0   5.0
min       1.0  25.0
25%       1.5  27.5
50%       2.0  30.0
75%       2.5  32.5
max       3.0  35.0

In [7]:
ages = df['Age']
print("Ages of Employees:")
print(ages)

Ages of Employees:
0    25
1    30
2    35
Name: Age, dtype: int64

In [8]:
name = df['Name']
print("Names of Employees:")
print(name)

Names of Employees:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

In [9]:
#display age geaterer than 18
age18 = df[df['Age'] > 18]
print("Employees with age greater than 18:")
print(age18)

Employees with age greater than 18:
   Empnum     Name  Age         City
0       1    Alice   25     New York
1       2      Bob   30  Los Angeles
2       3  Charlie   35      Chicago

In [10]:
# adding new column
df['Salary'] = [50000, 60000, 70000]
print("DataFrame after adding Salary column:")
print(df)

DataFrame after adding Salary column:
   Empnum     Name  Age         City  Salary
0       1    Alice   25     New York   50000
1       2      Bob   30  Los Angeles   60000
2       3  Charlie   35      Chicago   70000

In [11]:
# adding a new column 'Designation'
df['Designation'] = ['Manager', 'Sr. Manager', 'Director']
print("DataFrame after adding Designation column:")
print(df)

DataFrame after adding Designation column:
   Empnum     Name  Age         City  Salary  Designation
0       1    Alice   25     New York   50000      Manager
1       2      Bob   30  Los Angeles   60000  Sr. Manager
2       3  Charlie   35      Chicago   70000     Director

In [12]:
# Employee salary greater than 50000
high_salary = df[df['Salary'] > 50000]
print("Employees with salary greater than 50000:")
print(high_salary)

Employees with salary greater than 50000:
   Empnum     Name  Age         City  Salary  Designation
1       2      Bob   30  Los Angeles   60000  Sr. Manager
2       3  Charlie   35      Chicago   70000     Director

In [13]:
# Print emnum and salary of employees
emp_salary = df[['Empnum', 'Salary']]
print("Employee Numbers and their Salaries:")
print(emp_salary)

Employee Numbers and their Salaries:
   Empnum  Salary
0       1   50000
1       2   60000
2       3   70000