In [2]:
#python program to print message using function
def my_function():
    print("Hello, this is a message from a function!")

my_function()

Hello, this is a message from a function!

In [3]:
#python program to print your address using function
def print_address():
    print("Amity University, Bangalore")
    print("Karnataka")
    print("India")
print_address()

Amity University, Bangalore
Karnataka
India

In [4]:
#python program to add two numbers using function

def addition():
    num1 = 10
    num2 = 20
    sum = num1 + num2
    print("The sum of", num1, "and", num2, "is:", sum)
addition()

The sum of 10 and 20 is: 30

In [5]:
#python program to print sum and average of two numbers using function
def sum_and_average(a, b):
    sum = a + b
    average = sum / 2
    print("Sum:", sum)
    print("Average:", average)  
sum_and_average(15, 25)

Sum: 40
Average: 20.0

In [6]:
#python program to perform multiplication of four numbers using function

def multiply_four_numbers(a, b, c, d):
    product = a * b * c * d
    print("The product of", a, ",", b, ",", c, "and", d, "is:", product)
multiply_four_numbers(2, 3, 4, 5)

The product of 2 , 3 , 4 and 5 is: 120

In [9]:
#python program to add, substarct and multiply four numbers using functions

def add_four_numbers(a, b, c, d):
    sum = a + b + c + d
    print("The sum of", a, ",", b, ",", c, "and", d, "is:", sum)

def subtract_four_numbers(a, b, c, d):
    difference = a - b - c - d
    print("The difference when", b, ",", c, "and", d, "are subtracted from", a, "is:", difference)

def multiply_four_numbers(a, b, c, d):
    product = a * b * c * d
    print("The product of", a, ",", b, ",", c, "and", d, "is:", product)

a = 10
b = 20
c = 30
d = 40
add_four_numbers(a, b, c, d)
subtract_four_numbers(a, b, c, d)
multiply_four_numbers(a, b, c, d)

The sum of 10 , 20 , 30 and 40 is: 100
The difference when 20 , 30 and 40 are subtracted from 10 is: -80
The product of 10 , 20 , 30 and 40 is: 240000

In [10]:
#python program to implement calculator using functions

def add(x, y):
    return x + y
def subtract(x, y):
    return x - y
def multiply(x, y):
    return x * y
def divide(x, y):
    if y != 0:
        return x / y
    else:
        return "Error! Division by zero."
num1 = 15
num2 = 5
print("Addition:", add(num1, num2))
print("Subtraction:", subtract(num1, num2))
print("Multiplication:", multiply(num1, num2))
print("Division:", divide(num1, num2))

Addition: 20
Subtraction: 10
Multiplication: 75
Division: 3.0

In [12]:
#python program to find factorial of a number using function
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
number = int(input("Enter a number to find its factorial: "))
result = factorial(number)
print("The factorial of", number, "is:", result)

The factorial of 6 is: 720

In [13]:
#python program to find area of circle, rectangle and triangle using function

def area_of_circle(radius):
    return 3.142 * radius * radius

def area_of_rectangle(length, width):
    return length * width
def area_of_triangle(base, height):
    return 0.5 * base * height
radius = 7
length = 10
width = 5
base = 8
height = 6
print("Area of Circle:", area_of_circle(radius))
print("Area of Rectangle:", area_of_rectangle(length, width))
print("Area of Triangle:", area_of_triangle(base, height))

Area of Circle: 153.958
Area of Rectangle: 50
Area of Triangle: 24.0

In [14]:
#simple interest using function
def simple_interest(principal, rate, time):
    interest = (principal * rate * time) / 100
    return interest
P = 1000  # Principal amount
R = 5     # Rate of interest
T = 3     # Time in years
SI = simple_interest(P, R, T)
print("Simple Interest is:", SI)

Simple Interest is: 150.0

In [16]:
#convert celsius to fahrenheit using function
def celsius_to_fahrenheit(celsius):
    fahrenheit = (celsius * 9/5) + 32
    return fahrenheit      
celsius_temp = 25
fahrenheit_temp = celsius_to_fahrenheit(celsius_temp)
print(f"{celsius_temp}째C is equal to {fahrenheit_temp}째F")

25째C is equal to 77.0째F

In [17]:
#find largest of two numbers using function

def largest_of_two_numbers(a, b):
    if a > b:
        return a
    else:
        return b
    
largest = largest_of_two_numbers(45, 78)
print("The largest number is:", largest)

The largest number is: 78

In [18]:
#convert kilometers to miles using function
def kilometers_to_miles(km):
    miles = km * 0.621371
    return miles
km_value = 10
miles_value = kilometers_to_miles(km_value)
print(f"{km_value} kilometers is equal to {miles_value} miles")

10 kilometers is equal to 6.21371 miles